<p id="notice"><%= notice %></p>

<h1>Sisters</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sisters.each do |sister| %>
      <tr>
        <td><%= sister.user_id %></td>
        <td><%= sister.book_id %></td>
        <td><%= link_to 'Show', sister %></td>
        <td><%= link_to 'Edit', edit_sister_path(sister) %></td>
        <td><%= link_to 'Destroy', sister, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sister', new_sister_path %>
